body {
    background-color: hsl(118, 82%, 87%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }
  
  .calculator {
    display: grid;
    grid-template-rows: minmax(80px, auto) repeat(5, 60px);
    grid-template-columns: repeat(4, 60px);
    background-color: hsl(172, 62%, 52%);
    padding: 3rem;
    border-radius: 12px;
    gap: 0.3rem;
  }
  
  .calculator button {
    border: none;
    font-family: inherit;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 12px;
    background-color: rgb(8, 94, 116);
    color: rgb(180, 219, 228);
    cursor: pointer;
  }
  
  .calculator button:hover {
    background-color: hsl(171, 66%, 32%);
  }
  
  .span-2 {
    grid-column: span 2;
  }
  
  .calculator > .output {
    font-size: 2rem;
    background-color: hsl(172, 70%, 70%);
    color: black;
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    word-break: break-all;
    border-radius: 12px;
    padding: 3rem;
    margin-bottom: 1.6rem;
    box-sizing: border-box;
  }
  
  .output .prev-display {
    font-size: 1.3rem;
    font-weight: 600;
    color: hsl(0, 0%, 43%);
  }
  